style {
    .tagline-wrapper {
        text-align: center;
        padding: var(--size-4);
        background: white;
    }

    .tagline {
        font-size: var(--font-size-4);
        font-weight: 200;
    }
}

div.tagline-wrapper
    h2.tagline -- Nary tarry, complete tasks in a hurry.
